
<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix">
            <nav class="navbar navbar-fixed-top" id="header">
                <div class="col-lg-6
                            col-md-8
                            col-xs-12
                            center-block" id="menu">
<!--                             TEXTO -->
                    <div id="nivelDiv">
                        <div id="nivelGrupo" class="contenido">
                            <div class="btn-group-vertical btn-block">
                                <a class="btn btn-default" href="#">N1</a>
                                <a class="btn btn-default" href="#">N2</a>
                                <a class="btn btn-default" href="#">N3</a>
                                <a class="btn btn-default" href="#">N4</a>
                                <a class="btn btn-default active" href="#">N5</a>
                            </div>
                        </div>
                        <%= image_tag("tab_n5.svg", :alt => "svg nivel", class: "btn", id: "nivel") %>
                    </div>
                    
                    <div id="tipoDiv">
                        <div id="tipoGrupo" class="contenido">
                            <div class="btn-group-vertical btn-block">
                                <a class="btn btn-default" href="#">Kanji</a>
                                <a class="btn btn-default active" href="#">Hiragana</a>
                            </div>
                        </div>
                        <%= image_tag("tab_hiragana.svg", :alt => "svg tipo", class: "btn", id: "tipo") %>
                    </div>
                </div>
            </nav>
         </div>

         <div class="row clearfix ventana">
            <div id="kanji" class="col-xs-12 col-md-12 column kanji">
              <%= @kanji["kanji"]%>
            </div>
            <div class="row clearfix">
               <div class="col-xs-12 col-md-12 column">
                  <div class="col-xs-6 col-md-4 column previo pull-left">
                    <ul class="pager">
                        <li><a id="previo" href="#">Previo</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-md-4 column pull-right siguiente">
                    <ul class="pager">
                        <li><a id="siguiente" href="#">Siguiente</a></li>
                    </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="row clearfix navbar-fixed-bottom respuesta">
            <div class="row clearfix">
               <div class="col-md-12 column">
                  <%= image_tag("tab_response.svg", :alt => "svg tab", class: "btn", id: "tab") %>
<!--                  <div id="tab2" class="btn">
                    <div id="label">
                        Respuesta
                    </div>
                  </div>-->
                  <div class="col-md-6 col-md-push-3 column" id="panelRespuesta">
                     <div>
                        <h2 id="infoDefinicion"><%= @kanji["definicion"]%></h2>
                        <div class="row clearfix">
                            <div>
                                <div class="col-md-5 col-md-push-1 col-xs-5 col-xs-push-1 column header">
                                    <div class="info" id="infoHiragana"><%= @kanji["hiragana"]%></div>
                                    Hiragana
                                </div>
                                <div class="col-md-5 col-md-push-1 col-xs-5 col-xs-push-1 column header">
                                    <div class="info" id="infoRomaji"><%= @kanji["romaji"]%></div>
                                    Romaji
                                </div>
                            </div>
                        </div>
                        
                        <div class="row clearfix">
                            <!--<div class="pull-left hNivelDiv">
                                <div class="hNivel" id="infoNivel">Ejemplo</div>
                                Nivel
                            </div>-->
                            <div class="pull-right hNivelDiv">
                                <div class="hNivel" id="infoNivel">N<%= @kanji["nivel"]%></div>
                                Nivel
                            </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<script>

    var listaDeKanjis = [];
    var ultimoElemento = -1; // si el array es no vacio, indica la posicion del ultimo elemento en el array
    var indiceDelArray = -1;

    $(document).keydown(function(e) {
        switch(e.which) {
            case 37: // left
              previousKanji();              
            break;

            case 38: // up
              toggle_visibility('#panelRespuesta');
            break;

            case 39: // right
              nextKanji();
            break;

            case 40: // down
//               toggle_visibility('#nivelGrupo');
//               toggle_visibility('#tipoGrupo');
              toggle_visibility('#panelRespuesta');
            break;

            default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    });

   function nextKanji() {
   
      if($('#panelRespuesta').is(':visible')){
           toggle_visibility('#panelRespuesta');
      } // if

      if($('#nivelGrupo').is(':visible')){
           toggle_visibility('#nivelGrupo');
      } // if
      
      if($('#tipoGrupo').is(':visible')){
           toggle_visibility('#tipoGrupo');
      } // if

      indiceDelArray++;

      if (indiceDelArray <= ultimoElemento){
        var url = "/inicio/" + listaDeKanjis[indiceDelArray];
      }else{
        var url = "/inicio/siguiente/";
      }      

      $.ajax({
         url: url,
         type: 'GET',
         dataType: 'html',
         success: function(result){
            var msg = JSON.parse(result);
//             console.log("inicio/siguiente");
            console.log(msg);
            $("#kanji").empty();
            $("#infoDefinicion").empty();
            $("#infoHiragana").empty();
            $("#infoRomaji").empty();
            $("#infoNivel").empty();
            
            $("#kanji").append(msg.kanji);
            $("#infoDefinicion").append(msg.definicion);
            $("#infoHiragana").append(msg.hiragana);
            $("#infoRomaji").append(msg.romaji);
            $("#infoNivel").append("N" + msg.nivel);

            // agrego el kanji al array
            if (indiceDelArray > ultimoElemento){
              listaDeKanjis.push(msg.id);
              ultimoElemento++;
              if (listaDeKanjis.length != 0){
                console.log(listaDeKanjis[ultimoElemento]);
              } // if
            }// if
         }
      }); // ajax
   }

   function previousKanji() {
   
      if($('#panelRespuesta').is(':visible')){
           toggle_visibility('#panelRespuesta');
      } // if

      if($('#nivelGrupo').is(':visible')){
           toggle_visibility('#nivelGrupo');
      } // if
      
      if($('#tipoGrupo').is(':visible')){
           toggle_visibility('#tipoGrupo');
      } // if

      if (indiceDelArray > 0){
        indiceDelArray--;
      } // if

      var url = "/inicio/" + listaDeKanjis[indiceDelArray];
      $.ajax({
         url: url,
         type: 'GET',
         dataType: 'html',
         success: function(result){
            var msg = JSON.parse(result);
//             console.log("inicio/siguiente");
            console.log(msg);
            $("#kanji").empty();
            $("#infoDefinicion").empty();
            $("#infoHiragana").empty();
            $("#infoRomaji").empty();
            $("#infoNivel").empty();
            
            $("#kanji").append(msg.kanji);
            $("#infoDefinicion").append(msg.definicion);
            $("#infoHiragana").append(msg.hiragana);
            $("#infoRomaji").append(msg.romaji);
            $("#infoNivel").append("N" + msg.nivel);
         }
      }); // ajax
   }

   $('#siguiente').on("click", function() {
      $('#siguiente').blur();
      nextKanji();
   });
   
   $('#previo').on("click", function() {
      $('#previo').blur();
      previousKanji();
   });
   
   function toggle_visibility(id) {
//       $(id).stop().animate({height:'toggle'}, 500);
      $(id).animate({height:'toggle'});
   }

   $('#tab').on("click", function() {
      toggle_visibility('#panelRespuesta');
   });
   
   $('#nivel').on("click", function() {
      console.log("$('#nivel').click");
      toggle_visibility('#nivelGrupo');
   });
   
   $('#tipo').on("click", function() {
      console.log("$('#tipo').click");
      toggle_visibility('#tipoGrupo');
   });

   $(document).ready(function(){
      $('#panelRespuesta').hide();
      $('#nivelGrupo').hide();
      $('#tipoGrupo').hide();
   });

   function ajax(URL, successCallback, errorCallback){
      $.ajax({
         url: URL,
         type: "GET",
         dataType: "html",
         success: successCallback,
         error: errorCallback
      }); // $.ajax
   } // function ajax

</script>