
<div class="container">
   <div class="row clearfix">
      <div class="col-md-12 column">
         <div class="row clearfix">
            <nav class="navbar navbar-fixed-top" id="header">
                <div class="col-lg-6
                            col-md-8
                            col-xs-12
                            center-block" id="menu">
<!--                             TEXTO -->
                    <div id="nivel-div">
                        <div id="nivel-contenido" class="contenido">
                            <div class="btn-group-vertical btn-block" id="nivel-grupo">
                                <a class="btn btn-default" href="#">N1</a>
                                <a class="btn btn-default" href="#">N2</a>
                                <a class="btn btn-default" href="#">N3</a>
                                <a class="btn btn-default" href="#">N4</a>
                                <a class="btn btn-default active" href="#">N5</a>
                            </div>
                        </div>
                        <%= image_tag("tab_n5.svg", :alt => "svg nivel", class: "btn", id: "nivel") %>
                    </div>
                    
                    <div id="tipo-div">
                        <div id="tipo-contenido" class="contenido">
                            <div class="btn-group-vertical btn-block" id="tipo-grupo">
                                <a class="btn btn-default" href="#">Kanji</a>
                                <a class="btn btn-default active" href="#">Hiragana</a>
                            </div>
                        </div>
                        <%= image_tag("tab_hiragana.svg", :alt => "svg tipo", class: "btn", id: "tipo") %>
                    </div>
                </div>
            </nav>
         </div>

         <div class="row clearfix ventana">
            <div id="kanji" class="col-xs-12 col-md-12 column kanji">
              <%= @kanji["kanji"]%>
            </div>
            <div class="row clearfix">
               <div class="col-xs-12 col-md-12 column">
                  <div class="col-xs-6 col-md-4 column previo pull-left">
                    <ul class="pager">
                        <li><a id="previo" href="#">Previo</a></li>
                    </ul>
                  </div>
                  <div class="col-xs-6 col-md-4 column pull-right siguiente">
                    <ul class="pager">
                        <li><a id="siguiente" href="#">Siguiente</a></li>
                    </ul>
                  </div>
               </div>
            </div>
         </div>

         <div class="row clearfix navbar-fixed-bottom respuesta">
            <div class="row clearfix">
               <div class="col-md-12 column">
                  <%= image_tag("tab_response.svg", :alt => "svg tab", class: "btn", id: "tab") %>
                  <div class="col-md-6 col-md-push-3 column" id="panel_respuesta">
                     <div>
                        <%= @kanji["definicion"]%>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<script>

   $('#siguiente').on("click", function() {
      $('#panel_respuesta').hide();
      $('#nivel-contenido').hide();
      $('#tipo-contenido').hide();

      var url = "/inicio/siguiente/";
      $.ajax({
         url: url,
         type: 'GET',
         dataType: 'html',
         success: function(result){
            var msg = JSON.parse(result);
//             console.log("inicio/siguiente");
//             console.log(msg);
            $("#kanji").empty();
            $("#kanji").append(msg.kanji);
            $("#panel_respuesta").empty();
            $("#panel_respuesta").append(msg.definicion);
         }
      }); // ajax
   });

   $('#previo').on("click", function() {
      $('#panel_respuesta').hide();
      $('#nivel-contenido').hide();
      $('#tipo-contenido').hide();

      console.log("$('#previo').click");
      // llamar por ajax
   });

   function toggle_visibility(id) {
//       alert("¡Mensaje2! " + id);
//       $(id).stop().animate({height:'toggle'}, 500);
      $(id).animate({height:'toggle'});
   }

   $('#tab').on("click", function() {
//       console.log("$('#tab').click");
//       alert("¡Mensaje!");
      toggle_visibility('#panel_respuesta');
   });
   
   $('#nivel').on("click", function() {
//       console.log("$('#nivel').click");
      toggle_visibility('#nivel-contenido');
   });
   
   $('#tipo').on("click", function() {
//       console.log("$('#tipo').click");
      toggle_visibility('#tipo-contenido');
   });

   $(document).ready(function(){
//       console.log("document...ready!");
      $('#panel_respuesta').hide();
      $('#nivel-contenido').hide();
      $('#tipo-contenido').hide();
   });

   function ajax(URL, successCallback, errorCallback){
      $.ajax({
         url: URL,
         type: "GET",
         dataType: "html",
         success: successCallback,
         error: errorCallback
      }); // $.ajax
   } // function ajax

</script>